<div class="hero-unit">
  <h1><%= t :voter_registration %></h1>
  <h2><%= t :register_to_vote_in_state %></h2>
  <%= form_tag("", :method => "GET", :class => "form-inline") do %>
    <%= label_tag t :select_a_state %>
    <%= select_tag("state", options_for_select(Guidelines.all.collect {|s| [ s.name, s.state ] })) %>
    <%= submit_tag (t :go).titleize, :class=> "btn btn-primary" %>
  <% end %>
</div>
<div class="row">
  <div class="span12 section-header">
    <h1><%= (t :about).titleize %></h1>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2><%= (t :vote).titleize %></h2>
    <p>We need more Americans to have a say in their government, not just the special interests.
    That's why we should be taking down roadblocks to voting.
    We believe in an America where everybody can make their voices heard.</p>
  </div>
  <div class="span4">
    <h2><%= (t :how_it_works).titleize %></h2>
    <ol>
      <li>Choose a state</li>
      <li>Read the guidelines for the state</li>
      <li>Fill out the form</li>
      <li>Download and print your voter registration form</li>
      <li>Add a stamp and mail in your form</li>
    </ol>
  </div>
  <div class="span4">
    <h2><%= (t :state_guidelines).titleize %></h2>
    <p>Make sure you checkout the <%= link_to 'guidelines', guidelines_path %> for your state</p>
  </div>
</div>

