<%= simple_form_for @register, :url => register_create_path(@state), :html => { :class => 'form-horizontal' } do |f| %>
  <br/>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  <p>Fill out the form below to generate a voter registration form</p>
  <section id="legal_name">
  <fieldset>
    <legend>Name</legend>
    <%= f.input :citizen do %>
      <%= f.check_box :citizen, :checked => "checked" %>
      <%= f.label :citizen, 'Are you a citizen of the United States of America?' %>
    <% end %>
    <%= f.input :title, :collection => title_select %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :name_suffix, :collection => suffix_select %>
  </fieldset>
  </section>
  <section id="home_address">
  <fieldset>
    <legend>Home Address</legend>
    <%= f.input :home_address %>
    <%= f.input :home_apt, :label => "Apt or Lot#" %>
    <%= f.input :home_city, :label => "City" %>
    <%= f.input :home_state, :label => "State" do %>
      <%= f.select(:home_state, options_for_select(Guidelines.all.collect {|s| [ s.name, s.state ] }, params[:state])) %>
    <% end %>
    <%= f.input :home_zip_code, :label => "ZIP code" %>
  </fieldset>
  </section>
  <section id="m-address">
  <legend>Mailing Address</legend>
  <div class="control-group">
    <div class="controls">
      <label>
      <input type="checkbox" data-toggle="collapse" data-target="#mailing_address"/>  I have a different mailing address
      </label>
    </div>
  </div>
  <div id="mailing_address" class="collapse out">
  <fieldset>
    <%= f.input :mailing_address %>
    <%= f.input :mailing_apt, :label => "Apt or Lot#" %>
    <%= f.input :mailing_city %>
    <%= f.input :mailing_state do %>
      <%= f.select(:mailing_state, options_for_select(Guidelines.all.collect {|s| [ s.name, s.state ] }), :include_blank => true) %>
    <% end %>
    <%= f.input :mailing_zip_code, :label => "Mailing ZIP code" %>
  </fieldset>
  </div>
  </section>
  <section id="p-address">
  <legend>Previous Address</legend>
  <div class="control-group">
    <div class="controls">
      <label>
      <input type="checkbox" data-toggle="collapse" data-target="#previous_address"/>   I have recently moved
      </label>
    </div>
  </div>
  <div id="previous_address" class="collapse out">
  <fieldset>
    <%= f.input :previous_address %>
    <%= f.input :previous_apt, :label => "Apt or Lot#"  %>
    <%= f.input :previous_city %>
    <%= f.input(:previous_state) do %>
      <%= f.select(:previous_state, options_for_select(Guidelines.all.collect {|s| [ s.name, s.state ] }), :include_blank => true) %>
    <% end %>
    <%= f.input :previous_zip_code, :label => "Previous ZIP code" %>
  </fieldset>
  </div>
  </section>
  <section id="p-name">
  <legend>Previous Name</legend>
  <div class="control-group">
    <div class="controls">
      <label>
      <input type="checkbox" data-toggle="collapse" data-target="#previous_name"/>   I have recently changed my name
      </label>
    </div>
  </div>
  <div id="previous_name" class="collapse out">
  <fieldset>
    <%= f.input :previous_title, :collection => title_select, :label => "Title" %>
    <%= f.input :previous_first_name, :label => "First name" %>
    <%= f.input :previous_middle_name, :label => "Middle name" %>
    <%= f.input :previous_last_name, :label => "Last name" %>
    <%= f.input :previous_suffix, :collection => suffix_select, :lavel => "Suffix" %>
  </fieldset>
  </div>
  </section>
  <section id="identification">
  <fieldset>
    <legend>Identification</legend>
    <%= f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 100,
                              :end_year => Date.today.year - 17,
                              :order => [:month, :day, :year],
                              :default => {:month => 1, :day => 1, :year => Date.today.year - 50} %>
    <%= f.input :phone %>
    <%= f.input :id_number, :hint => help_text(@instructions, "id_number") %>
  </fieldset>
  <fieldset id="additional">
    <legend>Additional Information</legend>
    <%= f.input :political_party, :collection => PoliticalParty.pluck(:name), :hint => help_text(@instructions,"political_party")  %>
    <%= f.input :ethnicity, :collection => Ethnicity.pluck(:name), :hint => help_text(@instructions, "ethnicity") %>
  </fieldset>
  </section>
  <div class="form-actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>

